/* Base styles */

body {
  padding: 2em 4em;
  background: black;
  color: white;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 400px 800px;
  grid-template-rows: 100px auto;
}

img {
  height: auto;
  max-width: 100%;
}

strong {
  font-weight: 600;
}

hr {
  margin: 48 16 48 16;
  border: none;
  border-bottom: 1px solid white;
}

.circular {
  border-radius: 50%;
}

.underlined {
  text-decoration: underline;
}

.navlink:not(:last-child) {
  margin-bottom: 8px;
}

.navlink-unselected {
  color: #999;
}

.navlink-selected {
  color: white;
}

.siteheadertitle {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.siteheadersubtitle {
  margin: 0 0 40 0;
  color: #999;
  font-weight: 400;
}

.navbar {
  margin-right: 120px;
  grid-column: 1;
}

.sectionheader {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 24px;
}

.main {
  grid-column: 2;
  grid-row: 2;
}