/* Base styles */

strong {
  font-weight: 600;
}

hr {
  background: none;
  border: none;
  border-bottom: 1px solid #d8dee9;
}

img {
  height: auto;
  max-width: 100%;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
}

/* 01 Centering */

header,
main {
  margin: 0 auto;
  max-width: 50em;
}

/* 02 Font family */

body {
  font-family: "Helvetica", "Arial", sans-serif;
}

/* 03 Spacing */

body {
  line-height: 1.5;
  padding: 4em 1em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

/* 04 Color and contrast */

body {
  color: #555;
}

h1,
h2,
strong {
  color: #333;
}

/* 05 Balance */

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

/* 06 Primary color */

a {
  color: #e81c4f;
}

/* 07 Secondary colors */

body {
  background: white;
  color: #444;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: initial;
}

pre {
  border-left: 2px solid #69c;
}

.selector {
  color: #ec5f67;
}

.keyword {
  color: #ab7967;
}

.unit {
  color: #fac863;
}

.attribute {
  color: #5fb3b3;
}

.number {
  color: #f99157;
}

.string {
  color: #c594c5;
}

/* 08 Custom font */

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  font-weight: 500;
}
